.appWrapper {
	display: flex;
	height: 100vh;
}

.mainContent {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	transition: all 0.3s;
}

.contentWrapper {
	position: relative;
	overflow: hidden;
}

.contentWrapper > * {
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.contentWrapper.up > * {
	transform: translateY(-20px);
	opacity: 0;
}

.contentWrapper.down > * {
	transform: translateY(20px);
	opacity: 0;
}
