/* src/components/atoms/style/Badge.module.css */
.badge {
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	font-weight: bold;
	border-radius: 0.375rem;
	display: inline-block;
	text-align: center;
}
.primary {
	background-color: var(--color-primary);
	color: var(--color-bg); /* Texto oscuro */
}
.accent {
	background-color: var(--color-accent);
	color: var(--color-text); /* Texto claro */
}
