.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 100%; 
}

.label {
	color: var(--color-text);
	margin-bottom: 0.25rem;
	font-weight: 500;
}

.customInput {
	padding: 0.75rem 1rem; 
	border: 2px solid var(--color-border); 
	border-radius: 8px;
	background-color: var(--color-input-bg);
	color: var(--color-text);
	font-size: 1rem;
	outline: none; 
	transition:
		border-color 0.2s ease,
		box-shadow 0.2s ease;
}

.customInput:focus {
	border-color: var(--color-primary); 
	box-shadow: 0 0 10px rgba(255, 215, 0, 0.2); 
}

.error {
	border-color: var(--color-accent); 
}
.error:focus {
	border-color: var(--color-accent);
	box-shadow: 0 0 10px rgba(230, 57, 70, 0.2); 
}
