@import '../../../styles/variables.css';

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	background-color: var(--color-bg);
	border: 1px solid var(--color-primary);
	border-radius: 0.5rem;
}

.content {
	flex: 1;
}

.badge {
	margin-left: 0.5rem;
}

.actions {
	display: flex;
	gap: 0.5rem;
	margin-left: 0.5rem;
}
