.item {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem 1rem;
	cursor: pointer;
	transition: background 0.2s;
	border-radius: 0.375rem;
	color: var(--color-text);
}

.item:hover {
	background-color: var(--color-primary);
}

.icon {
	font-size: 1.25rem;
}

.label {
	font-weight: 500;
}
