/* src/components/molecules/style/List.module.css */
.list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.badge {
	margin-left: 0.5rem;
	padding: 0.15rem 0.4rem;
	background-color: var(--color-primary);
	color: var(--color-bg); /* Texto oscuro */
	border-radius: 0.25rem;
	font-size: 0.75rem;
}
