/* src/components/molecules/style/Modal.module.css */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s;
}

.overlay.show {
	opacity: 1;
	visibility: visible;
}

/* --- ESTILOS BASE DEL MODAL (SIN ANCHO) --- */
.modal {
	background-color: var(--color-bg-alt);
	color: var(--color-text);
	padding: 2.5rem;
	border-radius: 12px;
	width: 90%; /* Ancho en móviles */
	position: relative;
	transform: translateY(-20px);
	opacity: 0;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.medium {
	max-width: 500px;
}
.large {
	max-width: 800px;
}

.overlay.show .modal {
	transform: translateY(0);
	opacity: 1;
}

.closeBtn {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: var(--color-accent);
	color: var(--color-text);
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:
		transform 0.2s ease,
		opacity 0.2s ease;
}

.closeBtn:hover {
	opacity: 0.8;
	transform: scale(1.1);
}
