/* src/pages/styles/CRUDPages.module.css */
/* Este archivo reemplaza a MisClasesInstructorPage.module.css también */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	/* Usamos el borde de nuestro index.css */
	border-bottom: 1px solid var(--color-border);
}

/* El título h2 ya hereda el color dorado (--color-primary) de index.css */
.header h2 {
	margin: 0;
	font-size: 1.75rem;
}
