.gridContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.formsColumn {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.historyColumn {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	overflow-x: auto;
}

@media (min-width: 992px) {
	.gridContainer {
		grid-template-columns: 1fr 2fr;
	}
}

.formActions {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.formActions button {
	width: 100%;
}
